/* profiles */
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url('https://fonts.googleapis.com/css?family=Staatliches');

body {
  height: auto;
  width: auto;
  font-family: 'Staatliches', cursive;
  background-image: linear-gradient(to bottom right, #ff9eaa 0% 65%, #e860ff 95% 100%);
  background-image: linear-gradient(to bottom right,#322829 0% 65%, #234fcb 95% 100%); ;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 2rem 0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

/* background */
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars, .twinkling{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  width:100%;
  height:100%;
  z-index:-2;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  width:100%;
  height:100%;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}


.name{
  font-family: 'Chakra Petch', sans-serif;
}

.line {
  background: #302627;
  width: 80%;
  height: 2px;
  margin: 5px auto -3px;
}

.card {
  background-color: #fff;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5);
}
.card .banner {
  background-image: url("https://picsum.photos/358/175");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 11rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}

.card .banner img{
  background-color: #fff;
  width: 8rem;
  height: 8rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 50%;
  transform: translateY(50%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.card .banner img:hover {
  transform: translateY(50%) scale(1.3);
}
.card .menu {
  width: 100%;
  height: 5.5rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
}
.card .menu .opener {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}
.card .menu .opener:hover {
  background-color: #f2f2f2;
}
.card .menu .opener span {
  background-color: #404040;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: calc(50% - 0.2rem);
  border-radius: 50%;
}
.card .menu .opener span:nth-child(1) {
  top: 0.45rem;
}
.card .menu .opener span:nth-child(2) {
  top: 1.05rem;
}
.card .menu .opener span:nth-child(3) {
  top: 1.65rem;
}
.card h2.name {
  text-align: center;
  padding: 0 2rem 0.5rem;
  margin: 0;
}
.card .title {
  color: #a0a0a0;
  font-size: 0.85rem;
  text-align: center;
  padding: 0 2rem 1.2rem;
}
.card .actions {
  padding: 0 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  order: 99;
}
.card .actions .follow-info {
  padding: 0 0 1rem;
  display: flex;
}
.card .actions .follow-info h2 {
  text-align: center;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}
.card .actions .follow-info h2 a {
  text-decoration: none;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}
.card .actions .follow-info h2 a span {
  color: #1c9eff;
  font-weight: bold;
  transform-origin: bottom;
  transform: scaleY(1.3);
  transition: color 100ms ease-in-out;
}
.card .actions .follow-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}
.card .actions .follow-info h2 a:hover {
  background-color: #f2f2f2;
}
.card .actions .follow-info h2 a:hover span {
  color: #007ad6;
}
.card .actions .follow-btn button {
  color: white;
  font: inherit;
  font-weight: bold;
  background-color: #302627;
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.card .actions .follow-btn button:hover {
  background-color: #25306b;
  transform: scale(1.1);
}
.card .actions .follow-btn button:active {
  background-color: #767fb4;
  transform: scale(1);
}
.card .desc {
  text-align: justify;
  padding: 0 2rem 2.5rem;
  order: 100;
}

/* leaderboard */
.topic{
  color: #404040;
}
.student {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 25px 0px 0px 0px;
}
.student .profile-image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.student .profile-image-box .fa {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
}
.student .profile-image-box img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.student .profile-image-box .student-detail {
  padding: 10px 0px;
}
.student .profile-image-box .student-detail p {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05rem;
  max-width: 70px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.student .profile-image-box .student-detail p.marks {
  padding: 5px 0px;
  font-size: 18px;
  color: #404040;
}
.student .profile-image-box.rank-2 .fa, .student .profile-image-box.rank-3 .fa {
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
  top: -25px;
  left: 35px;
}
.student .profile-image-box.rank-2 img, .student .profile-image-box.rank-3 img {
  width: 50px;
  height: 50px;
}
.student .profile-image-box.rank-1 .fa {
  color: #FAC721;
  font-size: 1.5rem;
  top: -30px;
  left: 35px;
}
.student .profile-image-box.rank-2 .fa {
  color: #D3D3D3;
}
.student .profile-image-box.rank-3 .fa {
  color: #D68230;
}
.student-list .student-list-item {
  margin:12px 25px;
  background-color: #302627;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  border-radius: 50px;
}
.student-list .student-list-item .student-info {
  display: flex;
  align-items: center;
}
.student-list .student-list-item .student-info img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.student-list .student-list-item .student-info p {
  padding: 5px 15px;
  font-size: 16px;
  letter-spacing: .05rem;
  max-width: 200px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.student-list .student-list-item p {
  font-size: 16px;
  letter-spacing: .05rem;
  font-weight: bolder;
}
/* BACK */