<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LAZER GUN SCORE BORAD</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container col-md-6" id="rank">
      <h2>score TOP 5<h2>
        <div class="card" v-for="rankscore in rankscore">
          <div class="card-body">
            <h5 class="card-title">{{rankscore.name}}</h5>
            <p class="card-text text-muted">{{rankscore.score}}</p>
          </div>
        </div>
        <form class="form-group" @submit.prevent="storeRank">
          <div>
            <textarea name="name" class="form-control" v-model="name"></textarea>
          </div>
          <label for="">Score</label><br>
          <input type="text" class="form-control" v-model="score"><br>
          <button type="submit" class="btn btn-primary">send</button>
        </form>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

     <script>
     // Your web app's Firebase configuration
     var firebaseConfig = {
       apiKey: "AIzaSyDbr0dp_wGOHEhjfRZ_m63qGweMB9BS0oY",
       authDomain: "tester-44783.firebaseapp.com",
       databaseURL: "https://tester-44783.firebaseio.com",
       projectId: "tester-44783",
       storageBucket: "tester-44783.appspot.com",
       messagingSenderId: "399354175308",
       appId: "1:399354175308:web:a6b08df247c74729"
     };
     // Initialize Firebase
     firebase.initializeApp(firebaseConfig);

   </script>
  <script src="app.js" charset="utf-8"></script>
</html>
